.button {
  background: #facc15;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 1000px;

  padding: 16px 24px;

  transition: all 300ms;

  &:hover {
    background-color: #fde047;
  }
  &:focus {
    border: 2px solid #fff;
    background-color: #fde047;
    outline: 3px solid #fde047;
  }
}
