.error-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}

.error-header {
  font-size: 20px;
}

.link {
  font-size: 14px;
  font-weight: 400;
  color: #3b82f6;
  cursor: pointer;

  &:hover {
    color: #2563eb;
    text-decoration: underline;
  }
}
