.menu-item {
  display: flex;
  gap: 16px;
  padding: 8px 0px;
  border-bottom: 1px solid #e7e5e4;

  &__image {
    height: 96px;
  }

  &__image_sold-out {
    opacity: 0.7;
    filter: grayscale(1);
  }

  &__description {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    padding-top: 2px;
  }

  &__ingredients {
    font-size: 14px;
    font-style: italic;
    color: #78716c;
    text-transform: capitalize;
  }

  &__price {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__sold-out {
    font-size: 14px;
    font-weight: 500;
    color: #78716c;
  }
}
