.table-container {
  padding: 24px 16px;
}

.table-heder {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}

.table {
  display: grid;
  row-gap: 8px;
  margin-top: 20px;
}

.table-row {
  display: grid;
  grid-template: auto / 25% 20% 30% 10% 15%;
}
