#root {
  position: relative;
}
.navigation {
  display: flex;
  align-items: center;

  &-container {
    display: flex;
    gap: 12px;
  }

  &__item {
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }
}
